Source: haftian
Section: admin
Priority: optional
Maintainer: Samsul Ma'arif <hay@samsul.web.id>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/samsulmaarif/haftian

Package: haftian
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A utility to create a BlankOn UEFI bootable USB.
 Creating BlankOn Linux USB installer with UEFI support has never 
 been easier. 
 .
 This tool is a bash script primarly created by Mohammad Anwari 
 a.k.a mdamt a Software Engineer from TNISiber.id and a former 
 BlankOn Developer.
