#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk

binary-install/haftian::
	mkdir -p debian/$(cdbs_curpkg)/tmp/usr/local/share/haftian/
	mkdir -p debian/$(cdbs_curpkg)/tmp/usr/local/share/doc/haftian/
	cp data.zip debian/$(cdbs_curpkg)/tmp/usr/local/share/haftian/
	cp README.md debian/$(cdbs_curpkg)/tmp/usr/local/share/doc/haftian/
